*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #0f172a;
}

.calculator{
    background: #020617;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.6);
}

#display{

    width: 100%;
    height: 55px;
    margin-bottom: 15px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #f8fafc;
}

.btns{
    display: grid;
    grid-template-columns: repeat(4,60px);
    gap:12px;
}

button{
    height: 55px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background: #1e293b;
    color: white;
    transition: 0.2s;
}

button:hover{
    background: #334155;
}

button[data-action="clear"]{
    background: #dc2626;
}

button[data-action="calculate"]{
    background: #16a34a;
}

button[data-action="delete"]{
    background: #ca8a04;
}

